In [5]:
import pandas as pd
import numpy as np
input_csv = "/opt/data/private/hyl/code/ml-work/data/train.csv"
output_csv = "/opt/data/private/hyl/code/ml-work/data/train_new.csv"
df = pd.read_csv(input_csv, parse_dates=['DateTime'], dayfirst=True)
df.replace('?', np.nan, inplace=True)
# 删除包含 NaN 的行，确保所有数据是有效的
df.dropna(inplace=True)
df['DateTime'] = pd.to_datetime(df['DateTime']).dt.date
df

/tmp/ipykernel_76169/1995586054.py:5: UserWarning: Parsing dates in %Y-%m-%d %H:%M:%S format when dayfirst=True was specified. Pass `dayfirst=False` or specify a format to silence this warning.
  df = pd.read_csv(input_csv, parse_dates=['DateTime'], dayfirst=True)

,DateTime,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3,RR,NBJRR1,NBJRR5,NBJRR10,NBJBROU
0,2006-12-16,4.216,0.418,234.840,18.400,0.000,1.000,17.0,63.75,9.333,5.667,2.167,0.167
1,2006-12-16,5.360,0.436,233.630,23.000,0.000,1.000,16.0,63.75,9.333,5.667,2.167,0.167
2,2006-12-16,5.374,0.498,233.290,23.000,0.000,2.000,17.0,63.75,9.333,5.667,2.167,0.167
3,2006-12-16,5.388,0.502,233.740,23.000,0.000,1.000,17.0,63.75,9.333,5.667,2.167,0.167
4,2006-12-16,3.666,0.528,235.680,15.800,0.000,1.000,17.0,63.75,9.333,5.667,2.167,0.167
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1074631,2008-12-31,0.484,0.064,247.69,2.2,0.0,0.0,0.0,33.24,9.000,1.600,0.000,0.200
1074632,2008-12-31,0.482,0.064,247.35,2.2,0.0,0.0,0.0,33.24,9.000,1.600,0.000,0.200
1074633,2008-12-31,0.482,0.064,246.99,2.2,0.0,0.0,0.0,33.24,9.000,1.600,0.000,0.200
1074634,2008-12-31,0.48,0.064,246.52,2.2,0.0,0.0,0.0,33.24,9.000,1.600,0.000,0.200
1074635,2008-12-31,0.482,0.062,246.97,2.2,0.0,0.0,0.0,33.24,9.000,1.600,0.000,0.200

In [10]:
agg_dict = {
    'Global_active_power': 'sum',
    'Global_reactive_power': 'sum',
    'Voltage': 'mean',
    'Global_intensity': 'mean',
    'Sub_metering_1': 'sum',
    'Sub_metering_2': 'sum',
    'Sub_metering_3': 'sum',
    'RR': 'first',   # 假设这些字段一天内是相同的
    'NBJRR1': 'first',
    'NBJRR5': 'first',
    'NBJRR10': 'first',
    'NBJBROU': 'first'
}
daily_df = df.groupby('DateTime').agg(agg_dict).reset_index()
daily_df.to_csv(output_csv, index=False)

In [8]:
print(df.head().to_string())
print("\n列数据类型：")
print(df.dtypes)

           Global_active_power Global_reactive_power  Voltage Global_intensity Sub_metering_1 Sub_metering_2  Sub_metering_3     RR  NBJRR1  NBJRR5  NBJRR10  NBJBROU
DateTime
2006-12-16               4.216                 0.418  234.840           18.400          0.000          1.000            17.0  63.75   9.333   5.667    2.167    0.167
2006-12-16               5.360                 0.436  233.630           23.000          0.000          1.000            16.0  63.75   9.333   5.667    2.167    0.167
2006-12-16               5.374                 0.498  233.290           23.000          0.000          2.000            17.0  63.75   9.333   5.667    2.167    0.167
2006-12-16               5.388                 0.502  233.740           23.000          0.000          1.000            17.0  63.75   9.333   5.667    2.167    0.167
2006-12-16               3.666                 0.528  235.680           15.800          0.000          1.000            17.0  63.75   9.333   5.667    2.167    0.167

列数据类型：
Global_active_power       object
Global_reactive_power     object
Voltage                   object
Global_intensity          object
Sub_metering_1            object
Sub_metering_2            object
Sub_metering_3           float64
RR                       float64
NBJRR1                   float64
NBJRR5                   float64
NBJRR10                  float64
NBJBROU                  float64
dtype: object

In [9]:
numeric_cols = [
    'Global_active_power', 'Global_reactive_power',
    'Voltage', 'Global_intensity',
    'Sub_metering_1', 'Sub_metering_2'
]
for col in numeric_cols:
    df[col] = pd.to_numeric(df[col], errors='coerce')
print(df[numeric_cols].dtypes)

Global_active_power      float64
Global_reactive_power    float64
Voltage                  float64
Global_intensity         float64
Sub_metering_1           float64
Sub_metering_2           float64
dtype: object